$primaryColor: #fbbb21; //rgba(251, 187, 33, 1)
$fontColor: #4a4a4d;
$white: #fff;
$headerColor: #f4f7f8;
$fontSize: 16px;
//$fontFamily: 'Open Sans',
//sans-serif; //'Roboto', sans-serif;
//$fontHeading: 'Amatic SC',
//cursive;
$sectionPadding: 100px 0 50px 0;