@import "variables";
@import "mixins";
@import "header";
@import "animations";

@font-face {
    font-family: 'fontHeading';
    src:
        url('fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'fontFamily';
    src:
        url('fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

/*************
Basic styles
****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'fontFamily';
    color: $fontColor;
    font-size: $fontSize;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
}

h1 {
    font-family: 'fontHeading';
    font-size: 5rem;

    @include breakpoint-down(medium) {
        font-size: 3.5rem;
    }
}

h4 {
    margin-bottom: 25px;
    font-size: 1.3rem;
    font-weight: 600;

    @include breakpoint-down(medium) {
        font-size: 1.1rem;
        font-weight: 400;
    }
}

.container {
    width: 80%;
    margin: 0 auto;

    @media(max-width:1024px) {
        width: 85%;
    }

    &--pall {
        padding-top: 4.375rem;
        padding-right: 1.5rem;
        padding-bottom: 4.375rem;
        padding-left: 1.5rem;

        @include breakpoint-up(large) {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }
}

.video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    iframe {
        flex: 0 0 60%;
        border-radius: 5px;

        @include breakpoint-down(medium) {
            flex: 0 0 100%;
        }
    }

    h4 {
        flex: 0 0 32%;

        @include breakpoint-down(medium) {
            flex: 0 0 100%;
            font-size: 3rem;
        }

        font-family: 'fontHeading';
        font-size: 5rem;
    }
}

// Visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none !important;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

// Back to top button
#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: .9rem;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: $primaryColor;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

/****************
header
****************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    article {
        flex: 0 0 20%;
        padding-top: 20px;

        p {
            color: $fontColor;
            font-size: 1.1rem;
            font-weight: 600;
            line-height: 1.5;
            text-align: center;
            margin-top: 15px;
        }

        p+p {
            margin-top: 0;
        }

    }

}


/****************
intro
****************/
.intro {
    padding: $sectionPadding;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint-down(medium) {
        padding: 40px 0 20px 0 !important;
    }

    article:first-child {
        flex: 0 0 50%;

        @include breakpoint-down(medium) {
            flex: 0 0 100%;
        }

        p {
            line-height: 1.5;
            font-size: 1.1rem;
            margin-bottom: 8px;
            text-align: justify;
        }

        img+p {

            margin-top: 15px;
        }

        ol {
            margin-left: 16px;
            margin-bottom: 30px;
        }

        img {
            width: 50%;
            height: auto;

            @include breakpoint-down(medium) {
                width: 100%;
            }
        }

    }

    article:last-child {
        flex: 0 0 30%;
        display: flex;
        flex-wrap: wrap;

        @media(max-width:768px) {
            flex: 0 0 100%;
        }

        .imgBox {
            flex: 0 0 80%;

            h3 {
                font-family: 'fontHeading';
                font-size: 2.2rem;
            }

            @media(max-width:768px) {
                flex: 0 0 100%;
            }
        }
    }
}

/****************
focaccia
****************/
.container {
    padding: $sectionPadding;

    @include breakpoint-down(medium) {
        padding: 40px 0 20px 0 !important;
    }

    .focacciaIntro {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        article:first-child {
            flex: 0 0 40%;

            @include breakpoint-down(medium) {
                flex: 0 0 100%;
            }

            p {
                text-align: justify;
                margin-bottom: 10px;
            }
        }

        article:last-child {
            flex: 0 0 56%;

            @include breakpoint-down(medium) {
                flex: 0 0 100%;
            }

            h4 {
                text-align: center;
            }
        }
    }
}

.focaccia {
    padding: $sectionPadding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint-down(medium) {
        padding: 40px 0 20px 0 !important;
    }

    article:first-child {
        flex: 0 0 70%;

        @include breakpoint-down(medium) {
            flex: 0 0 100%;
        }

        h2 {
            font-family: 'fontHeading';
            font-size: 4rem;
            margin-bottom: 10px;
        }

        h5,
        h6 {
            font-size: 1.2rem;
            font-weight: 700;
        }

        h6 {
            margin-top: 60px;
        }

        .recipe {
            margin: 5px 0 30px 0;

            td {
                padding: 5px 10px 0 0;
            }

            td:last-child {
                text-align: right;
            }

            tr:last-child {
                td {
                    border-top: 1px solid $fontColor;
                    padding: 0;
                    text-align: left;
                }
            }
        }

        .preparation {
            td {
                padding: 10px 0;
            }

            td:first-child {
                font-weight: 600;
            }
        }

        ul {
            margin-left: 16px;
            margin-top: 20px;
            line-height: 1.8;
            margin-bottom: 20px;
        }
    }

    article:last-child {
        flex: 0 0 28%;

        @include breakpoint-down(medium) {
            flex: 0 0 100%;
        }

        .imgBox {
            margin-bottom: 40px;
        }
    }
}

/****************
focaccia
****************/
.pizza {
    @extend .focaccia;
}

/****************
bread
****************/
.bread {
    @extend .focaccia;
}

/****************
gallery
****************/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    article {
        img {
            margin-bottom: 20px;
        }
    }

    article:first-child {
        flex: 0 0 100%;

        p {
            padding: 20px 20px 50px 20px;
            font-size: 1.5rem;
            font-weight: 800;

            @include breakpoint-down(medium) {
                padding: 0px 0 20px 0 !important;
            }
        }
    }

    article:nth-child(2) {
        flex: 0 0 31%;

        @include breakpoint-down(medium) {
            flex: 0 0 100%;
        }

        img {
            margin-bottom: 80px;

            @include breakpoint-down(medium) {
                margin-bottom: 20px;
            }
        }
    }

    article:nth-child(3) {
        flex: 0 0 30%;

        @include breakpoint-down(medium) {
            flex: 0 0 100%;
        }
    }

    article:nth-child(4) {
        flex: 0 0 30%;

        @include breakpoint-down(medium) {
            flex: 0 0 100%;
        }
    }
}

/****************
imgSection
****************/
.imgSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;

    .img {
        flex: 0 0 30%;
        margin-bottom: 20px;

        @include breakpoint-down(medium) {
            flex: 0 0 100%;
        }
    }
}

/****************
footer
****************/
footer {
    background-color: #f6f9fa;
    margin-top: 40px;

    .container {
        padding-top: 40px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        font-family: 'fontHeading';
        font-size: 1.6rem;
        font-weight: 600;
        text-align: center;

        article {
            flex: 0 0 20%;

            @include breakpoint-down(medium) {
                flex: 0 0 100%;
            }

            ul {
                list-style: none;

                a {
                    color: $fontColor;

                    &:hover {
                        color: $primaryColor;
                        transition: .3s ease-out;
                    }
                }

                li:nth-child(3) {
                    margin-bottom: 30px;
                }
            }
        }

        article:first-child {
            @include breakpoint-down(medium) {
                display: none;
            }
        }

        article:last-child {
            @include breakpoint-down(medium) {
                display: none;
            }
        }
    }
}