.header {
  position: relative;
  z-index: 1;
  background-color: #f6f9fa;
  box-shadow: 1px 1px 2px rgba(74, 74, 77, 0.2); }
  .header.open .overlay {
    display: block; }
  .header.open .header__toggle > span:first-child {
    transform: rotate(45deg); }
  .header.open .header__toggle > span:nth-child(2) {
    opacity: 0; }
  .header.open .header__toggle > span:last-child {
    transform: rotate(-45deg); }
  .header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
    background-color: #f4f7f8; }
  .header__logo {
    flex: 0 0 15%; }
    .header__logo img {
      width: 65%; }
  .header__toggle > span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #4a4a4d;
    transition: all 300ms ease-in-out;
    transform-origin: 3px 1px; }
    .header__toggle > span:not(:last-child) {
      margin-bottom: 5px; }
  .header__menu {
    position: absolute;
    width: 30%;
    left: 70%;
    transform: translateX(-50%);
    background: #fff;
    margin-top: 2.5rem;
    padding: 1.625rem;
    border-radius: 5px; }
    @media (max-width: 39.9375em) {
      .header__menu {
        transform: translateX(-75%);
        margin-top: 4.5rem; } }
    .header__menu a {
      display: block;
      padding: 0.625rem;
      color: #fbbb21;
      text-align: center; }
  .header__links a {
    position: relative;
    font-size: 1.3rem;
    color: #4a4a4d;
    transition: color 300ms ease-in-out; }
    .header__links a:not(:last-child) {
      margin-right: 32px; }
    .header__links a::before {
      content: "";
      display: block;
      position: absolute;
      height: 5px;
      left: 0;
      right: 0;
      bottom: -30px;
      background: linear-gradient(to right, #fbbb21, #fff);
      opacity: 0;
      transition: opacity 300ms ease-in-out; }
    .header__links a:hover {
      color: #6a6a6e; }
      .header__links a:hover::before {
        opacity: 1; }

.has-fade {
  visibility: hidden; }

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0; }
  1% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }
.fade-in {
  animation: fade-in 200ms ease-in-out forwards; }

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1; }
  99% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: hidden;
    opacity: 0; } }
.fade-out {
  animation: fade-out 200ms ease-in-out forwards; }

/*************
Basic styles
****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  color: #4a4a4d;
  font-size: 16px; }

img {
  width: 100%;
  height: auto;
  border-radius: 5px; }

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none; }

.container {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .container {
      width: 85%; } }
  .container--pall {
    padding-top: 4.375rem;
    padding-right: 1.5rem;
    padding-bottom: 4.375rem;
    padding-left: 1.5rem; }
    @media (min-width: 64em) {
      .container--pall {
        padding-top: 6rem;
        padding-bottom: 6rem; } }

.video {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .video iframe {
    flex: 0 0 60%;
    border-radius: 5px; }
  .video h4 {
    flex: 0 0 32%;
    font-family: "Amatic SC", cursive;
    font-size: 5rem; }

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none !important; } }

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none; } }

/****************
header
****************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header article {
    flex: 0 0 20%;
    padding-top: 20px; }
    header article p {
      color: #4a4a4d;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      margin-top: 15px; }
    header article p + p {
      margin-top: 0; }

/****************
intro
****************/
.intro {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .intro article:first-child {
    flex: 0 0 50%; }
    .intro article:first-child h1 {
      font-family: "Amatic SC", cursive;
      font-size: 5rem;
      margin-bottom: 20px; }
    .intro article:first-child p {
      line-height: 1.5;
      font-size: 1.1rem;
      margin-bottom: 8px;
      text-align: justify; }
    .intro article:first-child h4 {
      margin: 25px 0;
      font-size: 1.3rem;
      font-weight: 800; }
    .intro article:first-child ol {
      margin-left: 16px;
      margin-bottom: 30px; }
    .intro article:first-child img {
      width: 50%;
      height: auto; }
  .intro article:last-child {
    flex: 0 0 30%;
    display: flex;
    flex-wrap: wrap; }
    .intro article:last-child .imgBox {
      flex: 0 0 80%; }
      .intro article:last-child .imgBox h3 {
        font-family: "Amatic SC", cursive;
        font-size: 2.2rem; }

/****************
focaccia
****************/
.focaccia, .pizza, .bread {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .focaccia article:first-child, .pizza article:first-child, .bread article:first-child {
    flex: 0 0 70%; }
    .focaccia article:first-child h2, .pizza article:first-child h2, .bread article:first-child h2 {
      font-family: "Amatic SC", cursive;
      font-size: 5rem;
      margin-bottom: 10px; }
    .focaccia article:first-child h5, .pizza article:first-child h5, .bread article:first-child h5,
    .focaccia article:first-child h6,
    .pizza article:first-child h6,
    .bread article:first-child h6 {
      font-size: 1.2rem;
      font-weight: 700; }
    .focaccia article:first-child h6, .pizza article:first-child h6, .bread article:first-child h6 {
      margin-top: 60px; }
    .focaccia article:first-child .recipe, .pizza article:first-child .recipe, .bread article:first-child .recipe {
      margin: 5px 0 30px 0; }
      .focaccia article:first-child .recipe td, .pizza article:first-child .recipe td, .bread article:first-child .recipe td {
        padding: 5px 10px 0 0; }
      .focaccia article:first-child .recipe td:last-child, .pizza article:first-child .recipe td:last-child, .bread article:first-child .recipe td:last-child {
        text-align: right; }
      .focaccia article:first-child .recipe tr:last-child td, .pizza article:first-child .recipe tr:last-child td, .bread article:first-child .recipe tr:last-child td {
        border-top: 1px solid #4a4a4d;
        padding: 0;
        text-align: left; }
    .focaccia article:first-child .preparation td, .pizza article:first-child .preparation td, .bread article:first-child .preparation td {
      padding: 10px 0; }
    .focaccia article:first-child .preparation td:first-child, .pizza article:first-child .preparation td:first-child, .bread article:first-child .preparation td:first-child {
      font-weight: 600; }
    .focaccia article:first-child ul, .pizza article:first-child ul, .bread article:first-child ul {
      margin-left: 16px;
      margin-top: 20px;
      line-height: 1.8; }
  .focaccia article:last-child, .pizza article:last-child, .bread article:last-child {
    flex: 0 0 28%; }
    .focaccia article:last-child .imgBox, .pizza article:last-child .imgBox, .bread article:last-child .imgBox {
      margin-bottom: 40px; }

/****************
focaccia
****************/
/****************
bread
****************/
/****************
gallery
****************/
.gallery2 .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px; }
.gallery2 .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0; }
@media (max-width: 87.4375em) {
  .gallery2 .grid-item1 {
    margin-top: 20px; } }
@media (max-width: 63.9375em) {
  .gallery2 .grid-item1 {
    margin-top: 28px; } }
@media (max-width: 39.9375em) {
  .gallery2 .grid-item1 {
    margin-top: 90px; } }
.gallery2 .grid-item2 {
  grid-column-start: span 2; }
  .gallery2 .grid-item2 p {
    font-size: 1.18rem;
    font-weight: 800;
    text-align: left;
    padding: 15px 0; }
    @media (max-width: 87.4375em) {
      .gallery2 .grid-item2 p {
        font-size: .9rem;
        padding: 5px 0; } }
    @media (max-width: 63.9375em) {
      .gallery2 .grid-item2 p {
        font-size: .8rem;
        font-weight: 600;
        padding: 5px 0; } }
.gallery2 .grid-item3 {
  grid-column-start: span 3; }

/****************
imgSection
****************/
.imgSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px; }
  .imgSection .img {
    flex: 0 0 30%; }

/****************
footer
****************/
footer {
  background-color: #f6f9fa;
  margin-top: 40px; }
  footer .container {
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-family: "Amatic SC", cursive;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center; }
    footer .container article {
      flex: 0 0 20%; }
      footer .container article ul {
        list-style: none; }
        footer .container article ul a {
          color: #4a4a4d; }
          footer .container article ul a:hover {
            color: #fbbb21;
            transition: .3s ease-out; }
        footer .container article ul li:nth-child(3) {
          margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
